[Desktop Entry]
X-Desktop-File-Install-Version=0.11
Name=TOS Tutorial

Comment=An interactive tutorial in the terminal

Exec=/bin/st -e /usr/share/tos-tutorial/main.sh
Icon=preferences-desktop-theme
Terminal=false
Type=Application
Categories=Tutorial;TOS;TDE;
