[Unit]
Description=Resume tos daemon
After=suspend.target

[Service]
Type=simple
ExecStart=/bin/bash /usr/bin/tos theme daemon

[Install]
WantedBy=suspend.target
